@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital@0;1&display=swap');
@import "variables";
@import "base";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.a_homepage{
    color: $secondary;
}